body{
	background-image:url('img/3.jpg');
	background-repeat:repeat;
	/*background:#888888;*/ 
}
div.collegeLogo{
	border:double 2px #e6dfe6;
	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
	margin: 0;
	padding: 0;
}

iframe#inlineframe {
  margin-top: 2px;
  background: #E0E0E0;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 

  -moz-box-shadow: 4px 4px 14px #000; 
  -webkit-box-shadow: 4px 4px 14px #000; 
  box-shadow: 4px 4px 14px #000; 

  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=.2);
}
li.head{
	text-indent: 10px;
}

li{
	text-indent: 20px;
}
#course_of_a_instructor_div{ padding: 0; }
#course_of_a_instructor_div.ui-dialog-titlebar
{
    display:none;
}

#modal_body, #subList_iframe{
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
#modal_body, #subList_iframe{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	max-width: 1100px;
	max-height: 800px;
}
#my_modal_without_header{
	padding-left: 5px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 0px;
	max-width: 1100px;
	max-height: 800px;
}

